{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('CSS/login.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<div class="login">
		<form method="post" id="formLogin">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Se déconnecter</a>
				</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
			<input type="email" value="{{ last_username }}" name="email" placeholder="Mail" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
	
			<input type="password" name="password" id="inputPassword" placeholder="MotDePasse" class="form-control" autocomplete="current-password" required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="btn" type="submit">
				Connexion
			</button>
		</form>
		<div id="new_account">
			<p>Pas encore de compte ?</p>
			<div></div>
			<a href="{{ path('app_register') }}">Créer votre compte Netflux</a>
		</div>
	{% endblock %}

