{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('CSS/registration.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<div id="register">
		<h1>Créer un compte</h1>

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.name ,{'attr': {'class': 'input'}}) }}
		{{ form_row(registrationForm.email,{'attr': {'class': 'input'}}) }}
		{{ form_row(registrationForm.country,{'attr': {'class': 'input'}}) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password' 
        },{'attr': {'class': 'input'}}) }}

		{{ form_row(registrationForm.captcha) }}
		<button type="submit" class="btn">Register</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}

