{% extends 'base.html.twig' %}


{% block stylesheets %}
	<link href="{{ asset('CSS/poster.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block title %}Series

{% endblock %}



{% block body %}
	<div id="poster">

		<div id="tri">
			<form method="post" action="{{ path('serie_add') }}" onsubmit="return confirm('Are you sure you want to add this serie ?');">
                        <input type="hidden" name="_token">
                        <button class="btn">add this serie</button>
		</div>
		
		<div id="menuShearch">
			<h1>Series</h1>
			<div id="search">
				<form action : path'series_poster' method="get">
					<input type="text" name="terme">
					<input type="submit" value="Rechercher">
				</form>
			</div>
		</div>

		<div id="tablePoster">

			{% for series in series %}

				<div class="imgLien">
					<a href="{{ path('series_show', {'id': series.id}) }}"><img class="imgInfo" src="{{path('controleur_poster_series_show', {'id':series.id})}}"/></a>
					<p class="textInfo">{{ series.title }}</p>

				</div>

			{% endfor %}

		</div>
		{# display navigation #}
		<div class="navigation">
			{{ knp_pagination_render(series) }}
		</div>
	</div>


{% endblock %}

